workflows/GetBrandBrief.json
{
  "name": "GetBrandBrief",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "7b06b1f3-1633-4d0f-99cd-0f13244ef453",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "https://www.notion.so/List-of-Available-Narrators-21bf4b08b5578052bd41cf29a2b817a2",
          "mode": "url"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "eb550a6b-02f5-4f80-8f8a-ba2735d223b0",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "3LDmBJ7kIcUq9IS4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "b648ce9a-9921-4f69-878a-c00274159d12",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0a5a1e0-230c-4f95-85ad-642f5fc9e857",
              "name": "content[0]",
              "value": "={{ $json.content.join() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "36123391-2ce6-431b-8a62-20ca4017af40",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43477b2f-74ec-477e-920c-c9481e045a6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be6a05faca76e133b267be3a427fa7758e4cf1aabb67ff5466313468db32c2c1"
  },
  "id": "yl2dHEHK2BHU9Ae6",
  "tags": []
}